[submodule "Attenomics-cron"]
	path = Attenomics-cron
	url = https://github.com/Attenomics-Labs/Attenomics-cron
[submodule "attenomics-backend-apis"]
	path = attenomics-backend-apis
	url = https://github.com/Attenomics-Labs/attenomics-backend-apis
[submodule "solana-contracts"]
	path = solana-contracts
	url = https://github.com/Attenomics-Labs/solana-contracts
[submodule "docs"]
	path = docs
	url = https://github.com/Attenomics-Labs/docs
